@model List<TravelDataAccess.Models.Trip>

<h2>Trip List</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>Code</th>
        <th>Destination</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var t in Model)
    {
        <tr>
            <td>@t.Code</td>
            <td>@t.Destination</td>
            <td>@t.Price</td>
            <td>@t.Status</td>
            <td>
                <a asp-controller="Booking"
                   asp-action="Create"
                   asp-route-tripId="@t.TripId">
                    Book
                </a>
            </td>
        </tr>
    }
</table>
